QWidget{
    background-color:rgb(79, 79, 79);
    color::rgb(235, 235, 235);
    font: 12pt "新宋体";
}

QSpinBox:down-button { image:url(qrc:/images/down.png);}
QSpinBox:up-button { image:url(qrc:/images/up.png);}